<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startups Universitarias</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-stone-100 text-gray-900 h-screen w-screen flex justify-center items-center"
      th:style="'background-image: url('+@{/images/FondoMain.jpg}+' );
        background-size:cover; background position: center; backdrop-filter:blur(1px)'">

<header th:replace="~{layout/layout::header}"></header>

<div class="flex flex-col justify-center items-center h-screen w-screen text-center p-6">
    <div class="bg-black bg-opacity-40 p-2 rounded-lg inline-block max-w-2xl">
        <h1 class="text-2xl md:text-4xl font-serif font-bold text-white tracking-widest">
            Gestión de Startups Universitarias <br> Proyecto Final
        </h1>

    </div>
</div>
<footer class="mt-10" th:replace="~{layout/layout :: footer}"></footer>
</body>
</html>