<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>

<main th:replace="this :: content"></main>

<footer th:replace="layout/layout :: footer"></footer>

<!-- Definir contenido para main -->
<div th:fragment="content" class="text-center text-white mt-20">
    <h1 class="text-4xl font-bold mb-6">Bienvenido a la aplicación de mentorías</h1>
    <a th:href="@{/mentorias}" class="bg-blue-600 px-6 py-3 rounded hover:bg-blue-700 transition">
        Ir a Mentorías
    </a>
</div>

</body>
</html>
